:root {
    --background-white: #E5DAD0;
    --background-green: #A9B4A4;
    --button-color: #6B775A;
    --button-hover: #313e22;
}

* {
    box-sizing: border-box;
    font-family: 'Inconsolata', 'consolas', 'monospace'; 
    background-color: var(--background-white); 
    margin: 0;
}

/*img och texten i headen*/
header img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.logo-name {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
}

/* Hur länkarna i headen ser ut och beteer sig*/
header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/*Headen*/
header {   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    
header ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    margin-left: 4rem;
}

    /*Herobild och text nedanför*/
.hero-text img {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
   }

.hero-text {
    text-align: center;
    margin: auto;
}

.hero-text p {
    margin: 1rem auto;
}

    /*Nära till naturen*/
.nature {
    text-align: center;
    max-width: 500px;
    margin: 3rem 2rem;
}

.nature h2 {
    margin-bottom: 1rem;
}

/* Rubrik, text och bilder på de tre aktiviteterna*/
.h2-activities {
    background-color: var(--background-green);
    margin-bottom: 0%;
    padding-top:2rem;
    text-align: center;
}

.activities {
    background-color: var(--background-green);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    /*om ett foto blir mindre än 300px så läggder de sig under varandra*/
}

.picture_text img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.picture_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-grow: 1;
}

/*Planera ditt besök*/
.visit {
    text-align: center;
    max-width: 500px;
    margin: 3rem 2rem;
        
}

.visit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.visit p {
    margin-top: 1rem;
}

/*Hur footen ser ut*/
footer img {
    width: 20%;
    display: block;
    margin: auto;
    padding-top: 1rem;
}

.name {
    text-align: center;
    margin: 1rem auto 3rem auto;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
    background-color: var(--background-green);
}

/*Knappar utseende och övergångar*/
.button {
    display: inline-block;
    background: var(--button-color);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s;
}

.button:hover {
    background-color:var(--button-hover);
}

/* Hur länkarna i footen ser ut och beteer sig*/
footer ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--background-green);
}

footer a {
    color:rgb(0, 0, 0);
    background-color: var(--background-green);
}

.phonenumber:hover,
footer a:hover {
    font-weight: bold;
}

.phonenumber {
    text-decoration: underline;
}

/*Dekorationssträcken*/
hr {
    color: #BFB7B7;
    margin: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.inmiddle {
    margin-top: 3rem;
}

/*Allt i footen grön*/
.namelogo,
footer img,
footer h3,
footer p,
footer,
footer li,
.contact,
.name {
    background-color: var(--background-green);
}


@media (min-width: 800px) {
    hr {
        display: none;
    }

    /*Header*/
    header nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    
    header ul {
        flex-direction: row;
        gap: 4rem;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /*Herobild och text uppepå*/
    .hero-text img {
        display: none;
    }

    .hero-text{
        background-image: url("../images/hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: left;
        padding-left: 6rem;
    }

    .hero-text h1 {
        background: fixed;
        color: white;
        padding-top: 14rem;
    }

    .hero-text p {
        background: fixed;
        color: white;
    }

    .hero-text-button {
        margin-bottom: 7rem;
    }

    /*Nära till naturen*/
    .nature {
        margin: 2rem auto;
    }

    /*De tre korten ska vara i mitten*/
    .activities {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    /*Planera ditt besök*/
    .visit-button {
        flex-direction: row;
        align-content: space-around;
    }
    
    .visit {
        text-align: left;
        margin: 3rem auto 3rem 20rem;
    }

    .button-visit {
        margin-right: 20rem;
    }

    /*Footer*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .namelogo {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    footer img {
        margin-left: 20rem;
        width: 7rem;
        height: 7rem;
        margin-bottom: 3rem;
    }

    .name {
        padding-top: 2rem;
        text-align: left;
    }

    .contact-links {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 4rem;
    }

    footer h3 {
        padding-bottom: 1rem;
    }
}