/* Sandvit: #E5DAD0   Ljusgrön: #A9B4A4   Mörkgrön: #80916D*/

* {
    box-sizing: border-box;
    font-family: 'Inconsolata', 'consolas', 'monospace'; 
    background-color: #E5DAD0; 
}


header {
    display: flex;
    flex-direction: row;
    /*Får klura på detta*/
}


/* Bilder på och text på de tre aktiviteterna*/
.activities {
    background-color: #A9B4A4;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    /*om ett foto blir mindre än 300px så läggder de sig under varandra*/
}

.picture_text img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.picture_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-grow: 1;
}


/*Knappar utseende och övergångar*/
.button {
    display: inline-block;
    background: #80916D;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s;
}

.button:hover {
    background-color:#3a4b27;
}



footer {
    background-color: #A9B4A4;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

footer img {
    background-color: #A9B4A4;
    width: 5rem;
    height: 5rem;
}

footer ul {
    list-style-type: none;
}

footer a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}